.table-container {
            display: flex;
            justify-content: center;
            margin-top: 20px;
        }

        table {
            width: 60%;
            border-collapse: collapse;
            table-layout: fixed; /* Ensures equal column width */
        }

        td {
            width: 20%; /* Ensures equal width for all cells */
            height: 100px; /* Ensures equal height for all cells */
            text-align: center;
            vertical-align: middle;
            border: 1px solid black;
            word-wrap: break-word; /* Ensures long words wrap inside the cell */
            overflow: hidden;
        }

        img {
            max-width: 90%; /* Ensures images fit within the cell */
            max-height: 90%; /* Limits the image size */
            display: block;
            margin: auto;
        }

        @media print {
            .pagebreak {
                clear: both;
                page-break-after: always;
            }
        }

        ol {
        height: 100px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        }

        body {
        margin: 30px;
        }