<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <table>
        <thead>Lab week</thead>
        <tr th:each="array : ${bingo}">
            <td th:each="item : ${array}">
                <p th:text="${item}"></p>
            </td>
        </tr>
    </table>
</div>

<p th:text="${bingo[0]}"></p>
<p th:text="${bingo[1]}"></p>
<p th:text="${bingo[2]}"></p>
<p th:text="${bingo[3]}"></p>
<p th:text="${bingo[4]}"></p>

</body>
</html>