<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>
<h1></h1>
<header th:replace="fragments :: header"></header>
<form>

</form>
<hr/>
<div class="table-container" th:each="bingo : ${bingoList}">
    <table style="width:60%">
        <caption>Lab week</caption>
        <tr  th:each="array : ${bingoList.getBingoCard()}">
            <td style="height:100px" th:each="item : ${array}">
                <p th:unless="${item.startsWith('img:')}">
                    <span th:text="${item}"></span>
                </p>
                <p th:if="${item.startsWith('img:')}">
                    <img th:src="@{${item.substring(4)}}" width="150" height="150" alt="Image">
                </p>
            </td>
        </tr>
    </table>
</div>

</body>
</html>