<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head">
</head>
<body>
<header th:replace="fragments :: header"></header>
<form method="post">
    <a>How many table would you like to create</a>
    <input type="number" name="numberOfTables">

    <input type="submit" value="Generate"/>
</form>
    <hr/>
    <div class="table-container">
        <table >
            <caption>Bingo Example</caption>
            <tr>
                <td>Example</td>
                <td>Example</td>
                <td>Example</td>
                <td>Example</td>
                <td>Example</td>
            </tr>
            <tr>
                <td>Example</td>
                <td>Example</td>
                <td>Example</td>
                <td>Example</td>
                <td>Example</td>
            </tr>
            <tr>
                <td>Example</td>
                <td>Example</td>
                <td>Example Img</td>
                <td>Example</td>
                <td>Example</td>
            </tr>
            <tr>
                <td>Example</td>
                <td>Example</td>
                <td>Example</td>
                <td>Example</td>
                <td>Example</td>
            </tr>
            <tr>
                <td>Example</td>
                <td>Example</td>
                <td>Example</td>
                <td>Example</td>
                <td>Example</td>
            </tr>
        </table>
        <!--        <div class="pagebreak"></div>-->
    </div>

</body>
</html>