<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments :: head">
<body>
<header th:replace="fragments :: header"></header>

    <div>
        <a>Select a bingoOptionsList to edit</a>
        <ol>
            <li th:each="item : ${bingoOptionsList}">
                <label th:text="${item.name}"></label>
                <button>Generate Bingo Card</button>
                <div th:each="card : ${item.bingoCards}">
                    <a  th:text="${card.getId()}"></a>
                </div>


            </li>

        </ol>
    </div>
<hr/>
</body>
</html>