<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments :: head">
<body>
<header th:replace="fragments :: header"></header>

    <div>
        <a>Select a bingoOptionsList to edit</a>
        <ol>
            <li th:each="item : ${bingoOptionsList}">
                <label th:text="${item.name}"></label>
                <a th:href="@{'/bingo/results/' + ${item.id}}">
                    <button >Generate Bingo Card</button>
                </a>
                <div th:each="card : ${item.bingoCards}">
                    <a  th:href="@{'/bingo/bingoCard/' + ${card.id}}" th:text="${card.id}"></a>
                </div>
            </li>

        </ol>
    </div>
<hr/>
</body>
</html>