<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Bingo Card</title>
    <link th:href="@{/styles.css}" rel="stylesheet">
    <nav>
        <a href="create">Create Bingo Card</a>
        <a href="/">Home</a>
    </nav>
</head>
<body>
<form method="post">
    <div>
        <a>Select a list to edit</a>
        <select name="list" id="list">
            <option th:each="item : ${list}"
            th:text="${item.name}"></option>
        </select>

    </div>

    <input type="submit" value="Generate"/>
</form>
<hr/>
<div>

</div>

</body>
</html>